
<div class="row">
    <div class="col-md-12">
        @{var firstPage = Model.CurrentPageIndex - 2; }
        @{var lastPage = Model.PageCount; }
        @if ((Model.PageCount - Model.CurrentPageIndex) < 3) {
            firstPage = Model.PageCount - 5;
            lastPage = Model.PageCount;
        }
        else if (Model.CurrentPageIndex < 3) {
            firstPage = 1;
        }
        <span class="pager-book-end first">@Html.ActionLink("First", "ListAsync", "Category", new { Id = Model.CurrentCategory, page = firstPage }, null)</span>
        @for (var i = firstPage; i < firstPage + 5; i++) {
            if (i == Model.CurrentPageIndex) {
                <span class="pager-current">@i</span>
            }
            else {
                string pageNumber = i.ToString();
                @Html.ActionLink(pageNumber, "ListAsync", "Category", new { Id = Model.CurrentCategory, page = i }, null)
            }
        }
        <span class="pager-book-end last">@Html.ActionLink("Last", "ListAsync", "Category", new { Id = Model.CurrentCategory, page = lastPage }, null)</span>
    </div>
</div>