@model Megastore.ViewModels.CategoryList
@using System.Linq
@{
    ViewBag.Title = Model.Category.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-3">
        Filters go here
    </div>
    <div class="col-xs-12 col-sm-12 col-md-9">
        @Html.Partial("~/Views/Category/_ProductList.cshtml", @Model)
    </div>
</div>
