@model List<Megastore.Models.Category>

    <div style="border:solid 1px black; padding:10px; background-color:#FAFAFA">
        <div class="treeview">
            @if (Model != null && Model.Count() > 0) {
                <ul>
                    @CategoryTree.GetTreeView(Model, Model.FirstOrDefault().ParentId)
                </ul>
            }
        </div>
    </div>

