
@model List<Megastore.Models.Category>

@{
    ViewBag.Title = "Category Admin";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col">@Html.Action("CategoryTree", "Category")</div>
        <div class="col-9">@Html.Action("CategoryInfo", "Category", new { id  = 0 })</div>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $(".treeview li>ul").css('display', 'none');
            $(".collapsible").click(function (e) {
                e.preventDefault();
                $(this).toggleClass("collapse expand");
                $(this).closest('li').children('ul').slideToggle();
            });
        });
    </script>
}
