@{
    ViewBag.Title = "Home Page";
}

<div id="product-list" class="container"></div>

@section scripts{
    <script>
        $(document).ready(function() {
            var productList = $('#product-list');

            $.ajax({
                url: "product/productList",
                method: "GET"
            })
            .done(function (data) {
                productList.replaceWith(data);
            })
            .fail(function () {
                alert("Something unexpected happened");
                });

            $("#search").click(function(e) {
                e.preventDefault();

                var filter = { };
                filter.keywords = $("#search").val();
                filter.keywords_fields = ["title", "description"];
                filter.site_ids = [];
                filter.genders = [];
                filter.categories = [];
                filter.promotions = [];
                filter.brands = [];
                filter.intl_enabled = false;
                filter.approved = false;
                //"keywords_fields": ["Array. Works together with keywords. Choose the fields  in which search/scroll should look. Possible values are 'title', 'brand', 'description', 'url'."],

                $.ajax({
                    url: "product/productPostList",
                    data: {
                        "searchingString":$("#txtSerach").val()
                    },
                    success: function (data) {
                        productList.replaceWith(data);
                    }
                });
            });
        });
    </script>
}