@{
    ViewBag.Title = "Home Page";
}

<div id="product-list" class="container"></div>

@section scripts{
    <script>
        $(document).ready(function () {
            var productList = $('#product-list');

            $.ajax({
                url: "product/productList",
                method: "GET"
            })
            .done(function (data) {
                productList.replaceWith(data);
            })
            .fail(function () {
                alert("Something unexpected happened");
            });
        });
    </script>
}