@{
    ViewBag.Title = "Home Page";
}

<div id="product-list" class="container"></div>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-4">
        <button id="more">More</button>
    </div>
</div>
@section scripts{
    <script>
        $(document).ready(function() {
            var productList = $('#product-list');
            var pageNumber = 1;

            $.ajax({
                url: "product/productList",
                method: "GET"
            })
            .done(function (data) {
                productList.html(data);
            })
            .fail(function() {
                alert("Something unexpected happened");
            });

            $("#search-submit").click(function(e) {
                e.preventDefault();
                loadProducts(false);
            });

            $("#more").click(function(e) {
                e.preventDefault();
                pageNumber++;
                loadProducts(true);
            });

            function loadProducts(append) {
                var filterParameter = {
                    filter: {
                        keywords: $("#search").val(),
                        keywords_fields: ["title", "description"]
                    },
                    per_page: 15,
                    page: pageNumber
                };

                $.ajax({
                    url: "product/productPostList",
                    contentType: "application/json",
                    method: "POST",
                    data: JSON.stringify(filterParameter),
                })
                    .done(function (data) {
                        if (append) {
                            productList.append(data);
                        } else {
                            productList.html(data);
                        }
                    
                })
                .fail(function () {
                    alert("Impossible");
                });
            };
        });
    </script>
}