
@{
    ViewBag.Title = "Admin Dashboard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div><button class='btn-link js-run-job'>Run Seed Job</button></div>

@section scripts
{
    <script>
        $("body").on("click", ".js-run-job",
            function () {
                $.ajax({
                    url: "/api/apiFetch/",
                    method: "POST",
                    data: {
                        queryType: "filters",
                        filters: true
                    }
                })
                .done(function (data) {
                    alert("Completed");
                    console.log(data);
                })
                .fail(function () {
                    alert("Something unexpected happened");
                });
            })
    </script>
}